.nav-design {
  color: black;
  font-weight: 500;
}
.w-color {
  background-color: white;
}
.font-poppins {
  font-family: "Poppins";
}
.font-play {
  font-family: "Playfair Display";
}
.heading {
  font-size: 64px;
  text-align: center;
  margin-top: 70px;
}
.hover:hover {
  background-color: #c9fd6a;
  color: black;
}
@media screen and (max-width: 1000px) {
  .heading {
    font-size: 80px;
  }
  .spotknock-img {
    width: 300px;
    margin-top: 60px;
    margin-left: 30px;
  }
  .nav-btn {
    width: 90px;
    border: none;
    margin-right: 30px;
  }
  .font-size {
    font-size: 50px;
    text-align: center;
  }
}
.main-para {
  text-align: center;
  width: 47%;
  margin-left: 350px;
  line-height: 30px;
  letter-spacing: 0.6;
}
.facilio {
  margin-left: 40%;
  margin-top: 70px;
}
@media screen and (max-width: 1000px) {
  .main-para {
    font-size: 45px;
    width: 80%;
    text-align: justify;
    margin-left: 110px;
    line-height: 70px;
    letter-spacing: 0.5;
  }
  .facilio {
    font-size: 50px;
    margin-top: 100px;
    margin-left: 200px;
  }
  .facilio-img {
    width: 250px;
    margin: 15%;
  }
}
.stuent-text {
  font-size: 40px;
  margin-top: 150px;
}
.box-heading {
  font-size: 25px;
  padding-left: 20px;
  padding-top: 20px;
  font-weight: 600;
}
.ml-150 {
  margin-left: 150px;
}
.box {
  border-radius: 5px;
  line-height: 30px;
}
.o-color {
  background-color: #ffdc5a;
}
.g-color {
  background-color: #c9fd6a;
}
.b-color {
  background-color: #5afffb;
}
.v-color {
  background-color: #ff7ce7;
}
.gradient-color {
  background-image: linear-gradient(
    to left,
    #d16ba5,
    #ef7386,
    #f78867,
    #eaa651,
    #ccc452,
    #b4d465,
    #98e281,
    #76eea3,
    #69f2b9,
    #5ff6cd,
    #5bf9e0,
    #5ffbf1
  );
}
.utube-radius {
  border-radius: 100%;
}
.utube-content {
  width: 300px;
  height: 200px;
  margin-left: 30px;
  margin-top: 100px;
  font-size: 50px;
  color: white;
  letter-spacing: 2.17px;
  line-height: 60px;
  text-shadow: 0 2px 34px rgba(0, 0, 0, 0.5);
}
.w-80 {
  width: 80%;
}
.container-c {
  width: 83%;
  margin-left: 9%;
}
.col-gap {
  gap: 30px;
}
.sm {
  display: none;
}
@media screen and (max-width: 1000px) {
  .stuent-text {
    font-size: 70px;
  }
  .box-heading {
    font-size: 50px;
    padding-left: 20px;
    padding-top: 20px;
  }
  .box-font {
    font-size: 40px;
    line-height: 60px;
    padding: 10px;
  }
  .box {
    width: 90%;
    border-radius: 10px;
  }
  .utube-content {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 70px;
    width: 100%;
  }
  .utube-radius {
    height: 400px;
    width: 400px;
    margin-left: 150px;
  }
  .sm {
    display: flex;
  }
  .lg {
    display: none;
  }
}
.fa-img {
  margin-left: 50%;
}
.double-1 {
  margin-left: 18%;
}
@media screen and (max-width: 1000px) {
  .fa-img {
    margin-left: 40%;
    width: 200px;
  }
  .double-1 {
    margin-left: 10%;
    width: 50px;
  }
  .read {
    font-size: 50px;
  }
}
.facilio-para {
  font-size: 20px;
  text-align: center;
  width: 65%;
  margin-left: 250px;
  line-height: 50px;
  letter-spacing: 0.6;
}
@media screen and (max-width: 1000px) {
  .facilio-para {
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-left: 20px;
    line-height: 70px;
    letter-spacing: 0.6;
  }
}
.my-img {
  width: 150px;
  border-radius: 100%;
  height: 150px;
  margin-left: 50%;
}
@media screen and (max-width: 1000px) {
  .my-img {
    width: 350px;
    border-radius: 100%;
    height: 350px;
    margin-left: 30%;
  }
}
.double-2 {
  margin-left: 89%;
  padding-bottom: 10px;
}
@media screen and (max-width: 1000px) {
  .double-2 {
    margin-left: 90%;
    width: 50px;
  }
}
.gray-color {
  color: gray;
  font-size: 20px;
  list-style: none;
}
.footer {
  background-color: #131415;
}
.white-color {
  color: white;
  list-style: none;
  line-height: 30px;
}

@media screen and (max-width: 1000px) {
  .white-color {
    font-size: 40px;
    line-height: 60px;
  }
  .ml-40 {
    margin-left: 40px;
  }
  .gray-color {
    color: gray;
    font-size: 50px;
    list-style: none;
  }
  .spot {
    width: 500px;
  }
}
.icon {
  color: white;
  font-size: 30px;
}
.social {
  list-style: none;
  gap: 30px;
}

@media screen and (max-width: 1000px) {
  .icon {
    font-size: 60px;
  }
}
